/*? Orbitron Fonts from Google */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	color: white;
	--orange: #ff5e00;
	font-family: "Orbitron", sans-serif;
	letter-spacing: 0.1rem;
}

/*? ------------------------------ Tag Styling ----------------------------- */

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: linear-gradient(
		to left,
		rgb(66, 66, 66) 0%,
		#bbbbbb 50%,
		rgb(66, 66, 66) 100%
	);
}

svg {
	height: 1.5em;
	width: 1.5em;
	pointer-events: none;
}

/*? ----------------------- Utility Classes Styling ------------------------ */
.orange,
.orange > * {
	fill: var(--orange);
	color: var(--orange);
	stroke: var(--orange);
}

.lightFont,
.lightFont > * {
	color: grey;
	fill: grey;
}

/*? ------------------------ Class Styling -------------------------------- */

/*? Calc Container */
.calculator {
	height: 645px;
	width: 450px;
	background-color: black;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	padding: 0.8em;
}

/*? Screen */
.screen {
	display: flex;
	justify-content: end;
	align-items: flex-end;
	padding: 1%;
	font-size: 1.8rem;
	border-radius: 4px;
	width: 100%;
	height: 22.5%;
}

.screen::selection {
	background-color: #bbbbbb;
	color: black;
}

/*? Buttons Container */
.buttons {
	border-top: 0.01em solid grey;
	height: 77.5%;
	width: 100%;
	padding-top: 1vh;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: 1fr;
}

/*? Individual buttons' styling */
.btn {
	cursor: pointer;
	user-select: none;
	font-size: 1.2rem;
	height: 100%;
	width: 100%;
	background-color: inherit;
	border-color: rgb(22, 22, 22);
	border: none;
}

.btn:active,
.btn:active * {
	background-color: var(--orange);
	color: white;
	fill: white;
	stroke: white;
	border-radius: 4px;
}

/*? Particular Button Styling */
#add {
	font-size: 2em;
}

#multiply {
	font-weight: 700;
}

#equals {
	font-size: 1.5em;
	font-weight: 500;
}

#dot {
	font-size: 3em;
}

.trigo sup {
	display: none;
}

.inverse sup {
	display: inline;
}

/*? --------------------- Media Queries -------------------------------- */
@media screen and (max-width: 550px) {
	:root {
		font-size: 12px;
	}
	.calculator {
		height: 450px;
		width: 315px;
	}
}

/*? For Nest Hub */
@media screen and (width: 1024px) and (height: 600px) {
	.calculator {
		height: 450px;
		width: 315px;
	}
}
